In [1]:
import pandas as pd

school_datapath = "Datasets/children_out_of_school_primary.csv"
school_datapath_clean = "Clean_Datasets/children_out_of_school_primary.csv"

school_data = pd.read_csv(school_datapath)
school_data

,country,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,NaN,NaN,NaN,NaN,1450000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24900.0,16500.0,9110.0,4530.0,3930.0,3990.0,3630.0,4090.0,3360.0,NaN
2,Algeria,NaN,NaN,NaN,866000.0,781000.0,731000.0,689000.0,659000.0,645000.0,...,26300.0,24800.0,NaN,NaN,23200.0,26200.0,19700.0,14200.0,16400.0,NaN
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,774000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,170.0,431.0,NaN,534.0,117.0,NaN,235.0,66.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Venezuela,NaN,488000.0,484000.0,493000.0,530000.0,527000.0,480000.0,463000.0,440000.0,...,121000.0,133000.0,163000.0,196000.0,208000.0,278000.0,325000.0,NaN,NaN,NaN
184,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180000.0,657000.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,561000.0,541000.0,NaN,NaN,650000.0,NaN,NaN,NaN,NaN
186,Zambia,NaN,NaN,208000.0,NaN,NaN,NaN,210000.0,216000.0,235000.0,...,293000.0,264000.0,352000.0,NaN,NaN,NaN,496000.0,NaN,NaN,NaN
187,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,13900.0,11800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
school_data_years = school_data[['country', '2015', '2016','2017','2018','2019']]

school_data_columns = school_data_years.rename(columns={'country':'Country'})

school_data_clean = school_data_columns.dropna()
school_data_clean.reset_index()
school_data_clean = school_data_clean[['Country', '2015','2016','2017','2018','2019']]
school_data_clean

                Country      2015      2016      2017      2018      2019
1               Albania    3930.0    3990.0    3630.0    4090.0    3360.0
2               Algeria   23200.0   26200.0   19700.0   14200.0   16400.0
6               Armenia   10600.0   11800.0   12400.0   11400.0   14900.0
9            Azerbaijan    5980.0    4340.0   12200.0   24800.0   55700.0
11              Bahrain    1410.0    1350.0     585.0    1190.0    2770.0
13             Barbados     905.0     418.0     719.0     328.0     212.0
16               Belize     190.0     240.0     148.0     302.0     221.0
22               Brunei     260.0      59.0     145.0     295.0     225.0
24         Burkina Faso  917000.0  761000.0  747000.0  689000.0  748000.0
26             Cambodia   82600.0  134000.0  180000.0  186000.0  190000.0
31                 Chad  512000.0  675000.0  840000.0  694000.0  724000.0
38           Costa Rica    8010.0    6190.0   13800.0     509.0     555.0
39        Cote d'Ivoire  865000.0  490000.0  431000.0  242000.0  199000.0
41                 Cuba   44300.0   40400.0   31500.0   15700.0    5700.0
45             Djibouti   35300.0   37900.0   35600.0   33900.0   30100.0
47   Dominican Republic   52400.0   53400.0   61800.0   65800.0   45800.0
60               Gambia   78500.0   75000.0   68700.0   65000.0   54300.0
61              Georgia     738.0    5950.0    2280.0    2430.0    2000.0
66            Guatemala  283000.0  296000.0  271000.0  246000.0  249000.0
81              Jamaica   33400.0   37100.0   38000.0   42800.0   46900.0
83           Kazakhstan     298.0    2260.0   10300.0   13200.0   12900.0
87      Kyrgyz Republic    1670.0    1680.0    1360.0    1410.0    2570.0
88                  Lao   38100.0   45200.0   57300.0   65400.0   64900.0
100            Maldives     195.0    1190.0    1930.0    1670.0    1010.0
105           Mauritius    1060.0    1430.0    1010.0    1160.0    1210.0
108             Moldova   12600.0   12700.0   14000.0   14000.0   16000.0
110          Montenegro    1680.0    2140.0    1100.0     784.0       2.0
112          Mozambique  461000.0  514000.0  577000.0  354000.0  143000.0
125                Oman    1630.0     412.0    4180.0    8730.0    7920.0
127           Palestine   19500.0   18700.0   12200.0   13000.0   17600.0
135               Qatar    4350.0    3580.0    2970.0    1990.0    2950.0
144              Serbia    2190.0    2250.0    2750.0    3820.0    4890.0
145          Seychelles      77.0     152.0     249.0     269.0     224.0
158           St. Lucia     235.0     219.0     228.0     222.0     260.0
161            Suriname    6600.0    5850.0    8580.0    8600.0    7680.0
168         Timor-Leste   10500.0   10200.0    5690.0    7730.0    9000.0
169                Togo   69600.0   96400.0   90500.0   66400.0   40100.0
181          Uzbekistan   15400.0   15200.0   16700.0   17300.0   15300.0

In [8]:
school_data_clean.to_csv(school_datapath_clean)