In [25]:
import pandas as pd

# input year for mastering
year = '2019'

# filepath for origin happiness file
originfilepath = f'Datasets/{year}.csv'

# export tocation for master file
exportpath = f'Clean_Datasets/{year}_master.csv'

In [26]:
# import happiness CSV
happiness = pd.read_csv(originfilepath)

# year is 2018 or 2019 (country column named different
if year == '2018' or year == '2019':
    happiness = happiness.rename(columns={'Country or region': 'Country'})



# import CSVs to be added
mil = pd.read_csv('Clean_Datasets/Mil_Percent_GDP.csv')
popgrowth = pd.read_csv('Clean_Datasets/Population_Growth.csv')
pdensity = pd.read_csv('Datasets/population_density_per_square_km.csv')
refugee_from = pd.read_csv('Datasets/refugee_from_perc_wb.csv')
refugee_in = pd.read_csv('Datasets/refugee_in_perc_wb.csv')

happiness

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [27]:
# seperate added data by year selected
mil = mil[['Country', year]]
popgrowth = popgrowth[['Country', year]]
pdensity = pdensity[['country', year]].rename(columns={'country': 'Country'})
refugee_from = refugee_from[['country', year]].rename(columns={'country': 'Country'})
refugee_in = refugee_in[['country', year]].rename(columns={'country': 'Country'})

mil

            Country     2019
0       Afghanistan  0.01170
1           Albania  0.01270
2           Algeria  0.06010
3            Angola  0.01640
4         Argentina  0.00707
..              ...      ...
139  United Kingdom  0.01740
140   United States  0.03410
141         Uruguay  0.02020
142          Zambia  0.01210
143        Zimbabwe  0.00699

[144 rows x 2 columns]

In [28]:
# create and add new data to master DF
master = pd.merge(happiness, mil, on='Country')                         # merge with military expenditure
master = master.rename(columns={year: 'Military Expenditure of GDP'})
master = pd.merge(master, popgrowth, on='Country')                      # merge with population growth
master = master.rename(columns={year: 'Population Growth'})
master = pd.merge(master, pdensity, on='Country')                       # merge with population density
master = master.rename(columns={year: 'Population Density'})
master = pd.merge(master, refugee_from, on='Country')                   # merge with refugees from
master = master.rename(columns={year: 'Pop % as Refugees Abroad'})
master = pd.merge(master, refugee_in, on='Country')                     # merge with refugees in
master = master.rename(columns={year: 'Pop % as Refugee Intake'})

master

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Military Expenditure of GDP,Population Growth,Population Density,Pop % as Refugees Abroad,Pop % as Refugee Intake
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.0148,0.000868,18.20,0%,0.00424
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.0132,0.004290,136.00,0%,0.00650
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.0168,0.006750,14.70,0%,0.01000
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.0000,0.024100,3.38,0%,0.00270
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.0134,0.005860,507.00,0%,0.00552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.0119,0.026100,512.00,2%,0.01150
123,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.0132,0.029500,65.50,0%,0.00417
124,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.0117,0.023100,58.30,7%,0.00190
125,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.0150,0.016700,7.62,13%,0.00151
126,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.0336,0.007820,18.10,20%,0.02700

In [29]:
# delete any NaN
master = master.dropna(axis=0, how='any')

master

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Military Expenditure of GDP,Population Growth,Population Density,Pop % as Refugees Abroad,Pop % as Refugee Intake
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.0148,0.000868,18.20,0%,0.00424
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.0132,0.004290,136.00,0%,0.00650
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.0168,0.006750,14.70,0%,0.01000
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.0000,0.024100,3.38,0%,0.00270
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.0134,0.005860,507.00,0%,0.00552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.0119,0.026100,512.00,2%,0.01150
123,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.0132,0.029500,65.50,0%,0.00417
124,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.0117,0.023100,58.30,7%,0.00190
125,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,0.0150,0.016700,7.62,13%,0.00151
126,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,0.0336,0.007820,18.10,20%,0.02700

In [30]:
# export to master file

master.to_csv(exportpath, index=False)