In [1]:
import pandas as pd

mil_datapath = "Datasets/military_expenditure_percent_of_gdp.csv"
mil_datapath_clean = "Clean_Datasets/Mil_Percent_GDP.csv"

mil_data = pd.read_csv(mil_datapath)
mil_data

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01950,0.01820,0.01180,0.01080,0.01300,0.00995,0.00957,0.00945,0.01010,0.01170
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01560,0.01530,0.01490,0.01410,0.01350,0.01160,0.01100,0.01110,0.01170,0.01270
2,Algeria,NaN,NaN,NaN,0.0251,0.0350,0.0342,0.0351,0.0302,0.0261,...,0.03520,0.04330,0.04460,0.04840,0.05550,0.06270,0.06380,0.06010,0.05510,0.06010
3,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04180,0.03260,0.03240,0.04460,0.04700,0.03110,0.02730,0.02420,0.01810,0.01640
4,Argentina,0.0155,0.0214,0.0266,0.0168,0.0115,0.0107,0.0117,0.0140,0.0169,...,0.00815,0.00764,0.00785,0.00838,0.00878,0.00850,0.00813,0.00856,0.00746,0.00707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Venezuela,0.0306,0.0142,0.0231,0.0255,0.0245,0.0264,0.0266,0.0286,0.0268,...,0.01010,0.01130,0.01340,0.01670,0.01160,0.00941,0.00454,0.00488,NaN,NaN
161,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.02310,0.01980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04690,0.04930,0.04570,0.04080,0.03970,NaN,NaN,NaN,NaN,NaN
163,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.01380,0.01320,0.01360,0.01360,0.01630,0.01750,0.01430,0.01310,0.01420,0.01210
164,Zimbabwe,NaN,NaN,NaN,NaN,NaN,0.0119,0.0132,0.0136,0.0207,...,0.00816,0.01410,0.01860,0.01870,0.01890,0.01890,0.01740,0.01540,0.01220,0.00699

In [8]:
mil_data_years = mil_data[['country','2015','2016','2017','2018','2019']]
mil_data_years = mil_data_years.rename(columns={'country': 'Country'})
mil_data_clean = mil_data_years.dropna(axis=0, how='any')
mil_data_clean

            Country     2015     2016     2017     2018     2019
0       Afghanistan  0.00995  0.00957  0.00945  0.01010  0.01170
1           Albania  0.01160  0.01100  0.01110  0.01170  0.01270
2           Algeria  0.06270  0.06380  0.06010  0.05510  0.06010
3            Angola  0.03110  0.02730  0.02420  0.01810  0.01640
4         Argentina  0.00850  0.00813  0.00856  0.00746  0.00707
..              ...      ...      ...      ...      ...      ...
156  United Kingdom  0.01860  0.01810  0.01770  0.01770  0.01740
157   United States  0.03480  0.03420  0.03310  0.03320  0.03410
158         Uruguay  0.01820  0.01870  0.01960  0.02130  0.02020
163          Zambia  0.01750  0.01430  0.01310  0.01420  0.01210
164        Zimbabwe  0.01890  0.01740  0.01540  0.01220  0.00699

[144 rows x 6 columns]

In [9]:
mil_data_clean.to_csv(mil_datapath_clean)