In [1]:
import pandas as pd

pop_datapath = "Datasets/population_growth_annual_percent.csv"

pop_growth = pd.read_csv(pop_datapath)

pop_growth

,country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,0.0190,0.0197,0.0203,0.02090,0.02150,0.02170,0.02190,0.022500,0.02380,...,0.027500,0.03140,0.03410,0.03490,0.03360,0.03080,0.02780,0.02550,0.023800,0.02310
1,Albania,0.0312,0.0306,0.0295,0.02880,0.02750,0.02630,0.02630,0.028400,0.02900,...,-0.004960,-0.00269,-0.00165,-0.00183,-0.00207,-0.00291,-0.00160,-0.00092,-0.002470,-0.00426
2,Algeria,0.0249,0.0247,0.0249,0.02560,0.02660,0.02760,0.02850,0.028800,0.02870,...,0.018100,0.01880,0.01950,0.02000,0.02030,0.02050,0.02050,0.02040,0.020100,0.01930
3,Andorra,0.0694,0.0669,0.0656,0.06240,0.06000,0.05750,0.05500,0.053100,0.05200,...,-0.000166,-0.00835,-0.01590,-0.02030,-0.01950,-0.01530,-0.00919,-0.00384,0.000065,0.00176
4,Angola,0.0139,0.0138,0.0126,0.00974,0.00618,0.00184,-0.00121,-0.000449,0.00546,...,0.036700,0.03630,0.03600,0.03550,0.03500,0.03440,0.03380,0.03320,0.032800,0.03240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela,0.0359,0.0353,0.0348,0.03440,0.03390,0.03350,0.03310,0.032500,0.03180,...,0.014500,0.01560,0.01630,0.01420,0.00874,0.00122,-0.00786,-0.01540,-0.017900,-0.01240
190,Vietnam,0.0300,0.0298,0.0295,0.02920,0.02890,0.02860,0.02820,0.027600,0.02670,...,0.010000,0.01020,0.01040,0.01050,0.01050,0.01040,0.01030,0.01020,0.009930,0.00960
191,Yemen,0.0145,0.0148,0.0151,0.01520,0.01520,0.01530,0.01560,0.015800,0.01570,...,0.028000,0.02780,0.02760,0.02720,0.02650,0.02580,0.02500,0.02420,0.023600,0.02300
192,Zambia,0.0300,0.0300,0.0300,0.03020,0.03050,0.03070,0.03100,0.031400,0.03190,...,0.029100,0.03020,0.03100,0.03140,0.03120,0.03070,0.03000,0.02950,0.029100,0.02890
193,Zimbabwe,0.0334,0.0338,0.0340,0.03390,0.03370,0.03350,0.03330,0.033300,0.03370,...,0.013500,0.01540,0.01700,0.01780,0.01750,0.01660,0.01550,0.01460,0.014100,0.01420

In [2]:
pop_growth = pop_growth[['country', '2015','2016','2017','2018','2019']]
pop_growth = pop_growth.rename(columns={'country': 'Country'})
pop_growth_clean = pop_growth.dropna(axis=0, how='any')

pop_growth_clean

         Country     2015     2016     2017      2018     2019
0    Afghanistan  0.03080  0.02780  0.02550  0.023800  0.02310
1        Albania -0.00291 -0.00160 -0.00092 -0.002470 -0.00426
2        Algeria  0.02050  0.02050  0.02040  0.020100  0.01930
3        Andorra -0.01530 -0.00919 -0.00384  0.000065  0.00176
4         Angola  0.03440  0.03380  0.03320  0.032800  0.03240
..           ...      ...      ...      ...       ...      ...
189    Venezuela  0.00122 -0.00786 -0.01540 -0.017900 -0.01240
190      Vietnam  0.01040  0.01030  0.01020  0.009930  0.00960
191        Yemen  0.02580  0.02500  0.02420  0.023600  0.02300
192       Zambia  0.03070  0.03000  0.02950  0.029100  0.02890
193     Zimbabwe  0.01660  0.01550  0.01460  0.014100  0.01420

[193 rows x 6 columns]

In [3]:
pop_growth_clean.to_csv("Clean_Datasets/Population_Growth.csv")